<p id="notice"><%= notice %></p>

<p>
  <strong>Poll:</strong>
  <%= @option.poll %>
</p>

<p>
  <strong>Body:</strong>
  <%= @option.body %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
