<%= form_for @poll do |form| %>

  <div class="question">
    <%= form.text_field :question, placeholder: "Type your question here", class: "line", autocomplete: "off" %>
  </div>

  <ul id="new-poll-options">
    <% for i in 1..3 %>
      <li>
        <%= form.fields_for :options do |option_fields| %>
          <%= option_fields.text_field :body, class: "line",
            placeholder: "Option " + i.to_s,
            oninput: 'newOptionInput()',
            autocomplete: 'off' %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="exp-date">
    <%= form.label :expiration_date %>
    <%= form.date_select :expiration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
