<%= form_for @poll do |form| %>

  <div class="field question">
    <%= form.text_field :question, placeholder: "Type your question here" %>
  </div>

  <ul id="new-poll-options">
    <% 3.times do %>
      <li>
        <%= form.fields_for :options do |option_fields| %>
          <%= option_fields.text_field :body %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <button class="add-option" type="button" onclick="newOptionInput()">+</button>

  <div class="exp-date field">
    <%= form.label :expiration_date %>
    <%= form.date_select :expiration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
