<%= form_for vote = Vote.new do |f| %>
  <%= f.hidden_field :poll_id, value: poll.id %>
  <ul class="vote-options">
    <%= collection_radio_buttons :vote, :option_id, poll.options, :id, :option_body do |option| %>
      <li>
        <%= option.radio_button %>
        <%= option.label %>
      </li>
    <% end %>
  </ul>
  <%= f.submit "Vote", class: "vote-btn" %>
<% end %>